/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 3000; /* sidebar bhanda mathi */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 200px;
  margin-bottom: 20px;
} */ 

.container {
  width: 90%;
  margin: auto;
}



.container {
  width: 90%;
  margin: auto;
  /* position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 3000;
   */
  /* border: 1px solid #ccc; */
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  border-bottom: 1px solid #ccc;
}

.top-header span {
  font-size: 14px;
  color: #555;
}
.right-header {
  display: flex;
  /* align-items: center; */
}
.right-header ul {
  display: flex;
  gap: 20px;
}

.right-header ul li {
  list-style: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
right-header ul li:hover {
  color: #e63946;
  text-decoration: underline;
}
/* .middle header */

.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  /* border: 1px solid black; */
}

.logo h1 {
  color: #e63946;
  font-weight: bold;
}
/* .navigation{
  border: 1px solid
  #eee;
} */

.navigation ul {
  display: flex;
  gap: 30px;

}

.navigation ul li {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Search Box */
.search-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  width: 500px;
  
}

.search-box input {
  border: none;
  outline: none;
  padding: 0px 22px;
  flex: 1;
  outline: none;
}

.search-box button {
  border: none;
  background-color: #e63946;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #c72c3b;
}

.log-register ul {
  display: flex;
  gap: 20px;
}

.log-register ul li {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
